html{
    font-family: 'Abel', sans-serif;
}

.ejercicio{
    margin-top: 20px;
    border: 2px solid #60625C;
    border-radius: 3px;
}

.titulo-ejercicio{
    background-color: #60625C;
    color:  white;
    padding: 10px;
}

.zona-enunciado{
    
}

.zona-enunciado p{
    text-align: justify;
}

.zona-ejercicio{
    min-height: 300px;
    padding: 10px;
    border: 1px solid #cccccc; 
}

.cuadrado{
    float: left;
    margin: 5px;
    text-align: center;
    border-radius: 2px;
    padding: 10px;
}

.cuadrado-grande{
    height: 100px;
    width: 100px;
}

.cuadrado-chico{
    height: 50px;
    width: 50px;
}

.desafio{
    padding: 10px;
    color: white;
    background-color: #ABB275;
    border-radius: 2px;
}

.rojo{
    background-color: #F18975;
}

.azul{
    background-color: #BF9BF3;
}

.verde{
    background-color: #73DBC6;
}

.amarilla{
    background-color: #FDF98F;
}

.borde-grueso{
    border: 5px solid black;
}