---
layout: ejercicio
title: Ejercicio 05
---

<div class="col-sm-8 zona-enunciado">
  <p>
    Los métodos <i>fadeIn()</i> y <i>slideDown()</i> permiten mostrar un elemento que
    ha sido ocultado o no es visible con las animaciones de fade o slide respectivamente.
  </p>
                
  <div class="bs-callout bs-callout-primary">
    <h4>Desafío</h4>
    Modifique el evento de click del botón para mostrar el elemento con id <i>cuadradito-1</i>
    con una animación de <i>fadeIn()</i> y el elemento con id <i>cuadradito-2</i> con una animación
    de <i>slideDown()</i>
  </div>
  
  <button id="button" class="btn btn-primary">
    Haceme click
  </button>
  
</div>

<div class="col-sm-4 zona-ejercicio">
    <div id="cuadradito-1" style="display: none;" class="cuadrado cuadrado-grande bg-info text-white">Hola! </div>
    <div id="cuadradito-2" style="display: none;" class="cuadrado cuadrado-grande bg-danger text-white">Chau! </div>
</div>

