---
layout: ejercicio
title: Ejercicio 10
---

<div class="col-sm-8 zona-enunciado">
  <p>
    El método <i>removeClass()</i> permite quitar
    una clase de estilo a los elementos seleccionados. 
  </p>
                
  <p>
    Por ejemplo, el siguiente código selecciona todos los elementos
    que tengan la clase <b>rojo</b> y a cada uno de ellos les quita
    (en caso de que la tengan) la clase <b>borde-punteado</b>.
  </p>

  <pre>$(".rojo").removeClass("borde-punteado");</pre>
                
  <div class="bs-callout bs-callout-primary">
    <h4>Desafío</h4>
    Modifique el evento de click del botón para seleccionar todos los elementos
    con la clase <b>borde-grueso</b> y eliminar dicha clase de los mismos.
    Además, hacer que se agreguen a dichos elementos la clase <b>bg-info</b>.
  </div>
  
  <button id="button" class="btn btn-primary">
    Haceme click
  </button>
  
</div>
    <div class="col-sm-4 zona-ejercicio">
      <div class="cuadrado cuadrado-grande borde-grueso bg-info text-white"></div>
      <div class="cuadrado cuadrado-grande borde-grueso bg-danger text-white"></div>
      <div class="cuadrado cuadrado-chico bg-danger text-white"></div>
      <div class="cuadrado cuadrado-chico borde-grueso bg-danger text-white"></div>
    </div>
  </div>
</div>

