---
layout: ejercicio
title: Ejercicio 08
---

<div class="col-sm-8  zona-enunciado">
  <p>
    Todas las funciones de animación (<i>fadeIn()</i>, <i>fadeOut()</i>, <i>fadeToggle()</i>, <i>slideIn()</i>, etc) pueden
    invocarse pasando diferentes cantidad de parámetros.
  </p>

  <p>
    Por ejemplo, una posible variación es invocar a cualquiera de éstas funciones especificando como parámetros:
    <ul>
      <li>la duración de la animación</li>
      <li>una función que será invocada al terminar la animación</li>
    </ul>
  </p>

  <p>
    Por ejemplo, el siguiente código ocultará el elemento con id <i>"cuadradito"</i> utilizando una animación <i>fadeOut</i>
    de 3 segundos y al finalizar mostrará un mensaje de alerta.
  </p>
                
  <pre>function mostrarMensaje(){
  alert("La animación terminó");
}
  
$("#cuadradito").fadeOut(3000, mostrarMensaje);</pre>
                
  <div class="bs-callout bs-callout-primary">
    <h4>Desafío</h4>
    Modifique el evento de click del botón para que oculte el elemento con id <i>cuadradito-rojito</i>
    con una animación de tipo <i>slideUp</i> que dure 3 segundos y al finalizar oculte el elemento con 
    id <i>cuadradito-azulito</i> con una animación de tipo <i>fadeOut</i> que dure 2 segundos.
  </div>
  
  <button id="button" class="btn btn-primary">
    Haceme click
  </button>
  
</div>
    <div class="col-sm-4 zona-ejercicio">
        <div id="cuadradito-azulito" class="cuadrado cuadrado-grande bg-info text-white">Hola! </div>
        <div id="cuadradito-rojito" class="cuadrado cuadrado-grande bg-danger text-white">Chau...</div>
    </div>
  </div>
</div>

