---
layout: ejercicio
title: Ejercicio 04
---

<div class="col-sm-8  zona-enunciado">
  <p>
    El método <i>show()</i> permite mostrar un elemento que ha sido ocultado o no es visible.
    Por ejemplo:
  </p>

  <pre>$("#idElemento").show();</pre>
                
  <div class="bs-callout bs-callout-primary">
    <h4>Desafío</h4>
    Modifique el evento de click del botón para mostrar el elemento con id: <i>cuadradito</i>
  </div>
  
  <button id="button" class="btn btn-primary">
    Haceme click
  </button>
  
</div>
    <div class="col-sm-4 zona-ejercicio">
      <div id="cuadradito" style="display: none;" class="cuadrado cuadrado-grande bg-info text-white">Hola! </div>
      <div class="cuadrado cuadrado-grande bg-danger text-white">Chau...</div>
    </div>
  </div>
</div>

