---
layout: ejercicio
title: Ejercicio 02
---

<div class="col-sm-8  zona-enunciado">
  <p>
    Puede obtener información adicional de un elemento utilizando 
    el inspector (haciendo clic derecho sobre el elemento y seleccionando <i>Inspeccionar elemento</i>)
    ó mirando el código fuente de la página. 
  </p>
                
  <p>
    Al igual que <i>hide()</i>, el método <i>fadeOut()</i> permite esconder un elemento, 
    pero utilizando una animación de desvanecimiento. Por ejemplo:
  </p>

  <pre>$("#idElemento").fadeOut();</pre>
                
  <div class="bs-callout bs-callout-primary">
    <h4>Desafío</h4>
    Averigüe cuál es el id del cuadrado rojo y modifique el evento de click del botón para seleccionar y esconder
    dicho elemento con una animación de tipo <i>fadeOut()</i>.
  </div>
  
  <button id="button" class="btn btn-primary">
    Haceme click
  </button>
  
</div>
    <div class="col-sm-4 zona-ejercicio">
      <div class="cuadrado cuadrado-grande bg-info text-white">Hola! </div>
      <div id="cuadradito-rojito" class="cuadrado cuadrado-grande bg-danger text-white">Chau...</div>
    </div>
  </div>
</div>

