---
layout: ejercicio
title: Ejercicio 07
---

<div class="col-sm-8  zona-enunciado">
  <p>
    Los métodos
    <a href="http://api.jquery.com/toggle/"><i>toggle()</i></a>, 
    <a href="http://api.jquery.com/fadetoggle/"><i>fadeToggle()</i></a> y
    <a href="http://api.jquery.com/slidetoggle/"><i>slideToggle()</i></a>
    permiten cambiar el estado de visibilidad de un elemento (si es visible lo esconden
    y si está oculto lo muestran) sin utilizar animaciones, con la animación <i>fade</i>
    y con a animación <i>slide</i> respectivamente.
  </p> 
              
  <pre>$("#idElemento").fadeOut();</pre>
                
  <div class="bs-callout bs-callout-primary">
    <h4>Desafío</h4>
    Modifique el script para que cada vez que se haga click en el botón se muestre u oculte
    el elemento con id: <i>cuadradito-azulito</i> con una animación de <i>fade</i>
    y el elemento con id: <i>cuadradito-rojito</i> con una animación de <i>slide</i>.
  </div>
  
  <button id="button" class="btn btn-primary">
    Haceme click
  </button>
  
</div>
    <div class="col-sm-4 zona-ejercicio">
      <div id="cuadradito-azulito" class="cuadrado cuadrado-grande bg-info text-white">Hola! </div>
      <div id="cuadradito-rojito" class="cuadrado cuadrado-grande bg-danger text-white">Chau...</div>
    </div>
  </div>
</div>

