---
layout: ejercicio
title: Ejercicio 06
---

<div class="col-sm-8  zona-enunciado">
  <p>
    El selector <i>.</i> permite seleccionar a los elementos que tengan una determinada clase. Por ejemplo:
  </p>
                
  <pre>$(".azul").fadeOut();</pre>

  <p>
    Esconderá utilizando la animación <i>fadeOut()</i> a todos los elementos que tengan a <b>azul</b> entre
    sus clases.
  </p>

  <p>
    En el caso de que un selector devuelva más de un elemento <b>la operación se aplica para cada uno de ellos.</b>
  </p>
                
  <div class="bs-callout bs-callout-primary">
    <h4>Desafío</h4>
    Modifique el evento de clic del botón para ocultar, utilizando una animación de tipo <i>fadeOut()</i>, todos los cuadrados que tengan la clase <b>rojo</b>.
  </div>
  
  <button id="button" class="btn btn-primary">
    Haceme click
  </button>
  
</div>
    <div class="col-sm-4 zona-ejercicio">
      <div class="cuadrado cuadrado-chico bg-info text-white"></div>
      <div class="rojo cuadrado cuadrado-chico bg-danger text-white"></div>
      <div class="cuadrado cuadrado-chico bg-info text-white"></div>
      <div class="cuadrado cuadrado-chico bg-info text-white"></div>
      <div class="rojo cuadrado cuadrado-chico bg-danger text-white"></div>
      <div class="rojo cuadrado cuadrado-chico bg-danger text-white"></div>
      <div class="cuadrado cuadrado-chico bg-info text-white"></div>
    </div>
  </div>
</div>

