---
layout: ejercicio
title: Ejercicio 01
---

<div class="col-sm-8 zona-enunciado">
  <p>Se puede seleccionar un elemento a través de su id con el selector #. Por ejemplo, el siguiente selector selecciona el elemento con id idElemento</p>
  
  <pre>$("#idElemento")</pre>
                
  <p>
    Luego, puede utilizar el método <i>hide()</i> para esconder el elemento, por ejemplo:
  </p>

  <pre>$("#idElemento").hide();</pre>
                
  <div class="bs-callout bs-callout-primary">
    <h4>Desafío</h4>
    Modifique el evento de click del botón para seleccionar y esconder el elemento con id: <i>cuadradito</i>
  </div>
  
  <button id="button" class="btn btn-primary">
    Haceme click
  </button>
  
</div>

<div class="col-sm-4 zona-ejercicio">
    <div id="cuadradito" class="cuadrado cuadrado-grande bg-info text-white">Hola! </div>
</div>

