---
layout: ejercicio
title: Ejercicio 03
---

<div class="col-sm-8  zona-enunciado">
  <p>
    El método <i>slideUp()</i> también permite ocultar un elemento con una animación
    deslizado hacia arriba. Por ejemplo:
  </p>

  <pre>$("#idElemento").slideUp();</pre>
                
  <div class="bs-callout bs-callout-primary">
    <h4>Desafío</h4>
    Modifique el evento de click del botón para esconder:
    <ul>
      <li>el elemento con id: <i>cuadrado-1</i> utilizando <i>hide()</i></li>
      <li>el elemento con id: <i>cuadrado-2</i> utilizando <i>fadeOut()</i></li>
      <li>el elemento con id: <i>cuadrado-3</i> utilizando <i>slideUp()</i></li>
  </div>
  
  <button id="button" class="btn btn-primary">
    Haceme click
  </button>
  
</div>
    <div class="col-sm-4 zona-ejercicio">
      <div id="cuadrado-1" class="cuadrado cuadrado-chico bg-info text-white">1</div>
      <div id="cuadrado-2" class="cuadrado cuadrado-chico bg-danger text-white">2</div>
      <div id="cuadrado-3" class="cuadrado cuadrado-chico bg-success text-white">3</div>
    </div>
  </div>
</div>

