---
layout: ejercicio
title: Ejercicio 11
---
<div class="col-sm-8 zona-enunciado">
  <p>
    El método <i>toggleClass()</i> permite agregar o quitar
    una clase a un elemento o conjunto de elementos.
    El método agrega la clase en caso de que los elementos no la tengan,
    o la quita en caso de que la tengan.
  </p>
                
  <p>
    Por ejemplo, el siguiente código selecciona todos los elementos
    que tengan la clase <b>rojo</b> y a cada uno de ellos les quita
    (en caso de que la tengan, de lo contrario la agrega) la clase <b>borde-punteado</b>.
  </p>

  <pre>$(".rojo").toggleClass("borde-punteado");</pre>
                
  <div class="bs-callout bs-callout-primary">
    <h4>Desafío</h4>
    <ol>
      <li>
        Cree en el archivo <i>style.css</i> una clase llamada
        <b>cuadro-activado</b> que defina un tamaño de fuente de 32px
        y una transformación de rotación de 30°.
      </li>
      <li>
        Modifique el evento de click del botón para seleccionar el elemento
        con id <i>cuadradon</i> y cambie para el mismo el estado de la clase
        <b>cuadro-activado</b> (la aplique si el elemento no la tiene o la quite
        si el elemento la tiene) 
      </li>
    </ol>
  </div>
  
  <button id="button" class="btn btn-primary">
    Haceme click
  </button>
  
</div>
    <div class="col-sm-4 zona-ejercicio">
      <div id="cuadradon" class="cuadrado cuadrado-grande borde-grueso bg-info text-white">Hola!</div>
    </div>
  </div>
</div>

