<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="jumbotron jumbotron-fluid" style="padding: 10px;">
      <div class="container">
        <h1 class="display-4">Introducción a JQuery</h1>
        <p class="lead">Ejercicios interactivos</p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        
        
        
        <div class="col-md-2">
            <ul class="nav flex-column">
                {% for ejercicio in site.ejercicios %}
                  <li class="nav-item">
                    {% if page.url contains ejercicio.url %}
                      <a class="nav-link active" style="font-size: 12px;" href="../../{{ejercicio.url}}">{{ejercicio.title}}</a>
                    {% else %}
                      <a class="nav-link " style="font-size: 12px;" href="../../{{ejercicio.url}}">{{ejercicio.title}}</a>
                    {% endif %}
                  </li>
                {% endfor %}
                </ul>
        </div>
        <div class="col-md-10">
          <script src="script.js"></script>
          {{ content }}
        </div>
      </div>
    </div>

    <div class="container">
      <br>
      <br>
      <br>
      <br>
    </div>

  </body>

</html>
